<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>TEST</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <!-- Custom fonts for this template-->
    <link href="css/all.min.css" rel="stylesheet" type="text/css" />
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet" />

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="css/sb-admin-2.css" rel="stylesheet" />
    <!-- start data table  -->

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />

    <link rel="stylesheet" href="../css/quayxe.style.css">

    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

    <script>
    // $(document).ready(function () {
    //   $("#myTable").DataTable();
    // });
    </script>
    <!-- end data table  -->
</head>

<body class="fixed-left">

    <div class="wrapper">

        <div class="topbar">
            <div class="topbar-left">
                <div class="text-center">
                    <a class="logo" href="#Home">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Disneyland_Paris_logo.svg/1200px-Disneyland_Paris_logo.svg.png"
                            alt="logo_png" />
                    </a>
                </div>
            </div>

            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <ul class="list-inline menu-left mb-0">
                        <li class="hide-phone app-search float-left">
                            <form role="search" class="navbar-form">
                                <input type="text" placeholder="Search..." class="form-control search-bar">
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>

        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">
                <div id="sidebar-menu">
                    <ul>
                        <li class="menu-title">Phim ảnh</li>
                        <li>
                            <a href="#" class="waves-effect">
                                <i class="fas fa-film"></i>
                                <span> <strong>Danh sách phim</strong> </span>
                            </a>
                        </li>

                        <li class="has_sub">
                            <a href="#" class="waves-effect">
                                <i class="fas fa-th-list"></i> 
                                <span> <strong>Loại phim</strong> </span>
                            </a>
                            <ul class="list-unstyled">
                                <li><a href="#">Phim điện ảnh</a></li>
                                <li><a href="#">Phim hoạt hình</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="waves-effect">
                                <i class="fas fa-user-injured"></i>
                                <span> <strong>Diễn viên</strong> </span>
                            </a>
                        </li>

                        <li class="menu-title">Âm nhạc</li>

                        <li class="has_sub">
                            <a href="#" class="waves-effect">
                                <i class="fas fa-music"></i>
                                <span> <strong>Danh sách nhạc</strong> </span>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="waves-effect">
                                <i class="#"></i>
                                <span> .... </span>
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="clearfix"></div>
            </div> <!-- end sidebarinner -->

        </div>

        <div class="content-page">
            <div class="content">
                <!-- <div class="row">
                <div class="col-sm-12 mb-4">
                  <div class="card p-4 bg-s border-0">
                    <div class="iq-card-header d-flex justify-content-between">
                      <div class="iq-header-title">
                        <h4 class="card-title">Add Movie</h4>
                      </div>
                    </div>
                    <div class="iq-card-body">
                      <form action="movie-view.html">
                        <div class="row mb-4">
                          <div class="col-lg-7">
                            <div class="row">
                              <div class="col-12 form-group">
                                <input type="text" class="form-control" placeholder="Title">
                              </div>
                              <div class="col-12 form-group">
                                <input type="text" class="form-control" placeholder="Url image">
                              </div>
    
                              <div class="col-md-6 form-group">
                                <select class="form-control" id="exampleFormControlSelect1">
                                  <option disabled="">Movie Category</option>
                                  <option>Comedy</option>
                                  <option>Crime</option>
                                  <option>Drama</option>
                                  <option>Horror</option>
                                  <option>Romance</option>
                                </select>
                              </div>
                              <div class="col-sm-6 form-group">
                                <select class="form-control" id="exampleFormControlSelect2">
                                  <option disabled="">Choose quality</option>
                                  <option>FULLHD</option>
                                  <option>HD</option>
                                </select>
                              </div>
    
    
                              <div class="col-12 form-group">
                                <textarea id="text" name="text" rows="5" class="form-control"
                                  placeholder="Description"></textarea>
                              </div>
                            </div>
    
                          </div>
                          <div class="col-lg-5 bg-back">
                          <div class="center-cropped"
                          style="    background-image: url('https://1.bp.blogspot.com/-GuT6W9ELMBY/XcCw1tsQQtI/AAAAAAAALrE/8nnh82HDgzE4wr77Sw9vEIQ8eQk4yF-HwCLcBGAsYHQ/s1600/hayvnnet-yua-mikami-bat-ngo-duoc-moi-lam-nguoi-dai-dien-trong-game-tai-dai-loan-%2B%25285%2529.jpg');"
                          ></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6 form-group">
                            <input type="text" class="form-control" placeholder="Release year">
                          </div>
                          <div class="col-sm-6 form-group">
                            <select class="form-control" id="exampleFormControlSelect3">
                              <option selected="" disabled="">Choose Language</option>
                              <option>English</option>
                              <option>Hindi</option>
                              <option>Tamil</option>
                              <option>Gujarati</option>
                            </select>
                          </div>
                          <div class="col-sm-12 form-group">
                            <input type="text" class="form-control" placeholder="Movie Duration">
                          </div>
                          <div class="col-12 form-group ">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-danger">cancel</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="js/jquery.easing.min"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
    <script src="js/waves.js"></script>
    <script src="js/app.js"></script>
</body>

</html>