body {
  background: #2a323c;
  margin: 0;
  color: #98a4b9;
  font-size: 14px;
}
.topbar {
  background: #ffffff;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}
.topbar .topbar-left {
  background-color: #ffffff;
  float: left;
  height: 70px;
  position: relative;
  width: 240px;
  z-index: 1;
}
.logo img {
  height: 28px;
}
.logo {
  letter-spacing: 0.03em;
  line-height: 70px;
}
.navbar-default {
  height: 70px;
  background-color: #2a323c;
  border-radius: 0px;
  border: none;
  margin-bottom: 0px;
  padding: 0px;
}
.navbar-default .navbar-nav > .open > a {
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-default .navbar-nav > .open > a:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-default .navbar-nav > .open > a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.nav > li > a {
  color: #ffffff !important;
  padding: 0px 15px;
  position: relative;
}

.nav > li > a i {
  font-size: 20px;
}
.navbar-form {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
}

.search-bar {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border: 2px solid rgba(255, 255, 255, 0.25) !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #ffffff !important;
  font-size: 14px;
  height: 42px;
  margin-top: 4px;
  margin-left: 15px;
  border-radius: 5px;
  padding-left: 20px;
}

.search-bar:focus {
  border: 2px solid rgba(255, 255, 255, 0.3) !important;
}

.btn-search {
  display: none;
}

input.search-bar::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input.search-bar:-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input.search-bar::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input.search-bar:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.navbar-nav {
  margin: 0;
}
.side-menu {
  bottom: 0;
  top: 0;
  width: 240px;
  z-index: 2;
}

.side-menu.left {
  background: #ffffff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 70px;
  z-index: 99;
}

body.fixed-left .side-menu.left {
  bottom: 50px;
  height: 100%;
  margin-bottom: -70px;
  margin-top: 0px;
  padding-bottom: 70px;
  position: fixed;
}

.menu-title {
  padding: 12px 25px !important;
  letter-spacing: 0.035em;
  pointer-events: none;
  cursor: default;
  font-size: 13px;
}

#sidebar-menu,
#sidebar-menu ul,
#sidebar-menu li,
#sidebar-menu a {
  border: 0;
  font-weight: normal;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
}

#sidebar-menu {
  background-color: #ffffff;
  padding-bottom: 50px;
  width: 100%;
}

#sidebar-menu a {
  line-height: 1.3;
}

#sidebar-menu .badge {
  margin-top: 4px;
}

#sidebar-menu ul ul {
  display: none;
}

#sidebar-menu ul ul li {
  border-top: 0;
}

#sidebar-menu ul ul a {
  color: rgba(42, 50, 60, 0.6);
  display: block;
  padding: 10px 25px 10px 65px;
}

#sidebar-menu ul ul a:hover {
  color: #2a323c;
}

#sidebar-menu ul ul a i {
  margin-right: 5px;
}

#sidebar-menu ul ul ul a {
  padding-left: 80px;
}

#sidebar-menu > ul > li > a {
  color: #5f7187;
  display: block;
  padding: 15px 25px;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  height: 50px !important;
}

#sidebar-menu > ul > li > a:hover {
  background-color: #f2f2f2;
  text-decoration: none;
}

#sidebar-menu > ul > li > a > span {
  vertical-align: middle;
}

#sidebar-menu > ul > li > a > i {
  display: inline-block;
  font-size: 18px;
  line-height: 17px;
  margin-left: 3px;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
  width: 20px;
  color: #5f7187;
}

#sidebar-menu > ul > li > a > i.i-right {
  float: right;
  margin: 3px 0 0 0;
}

/* #sidebar-menu > ul > li > a.active {
  color: #ffffff !important;
  background-color: #5f7187 !important;
} */

/* #sidebar-menu > ul > li > a.active i {
  color: #ffffff ;
}

#sidebar-menu > ul > li > a.active {
  background-color: #5f7187 !important;
} */

#wrapper .left.side-menu #sidebar-menu ul > li:hover > ul a:hover {
  color: #5f7187;
}

#wrapper .left.side-menu #sidebar-menu ul > li:hover a span {
  display: inline;
}

#wrapper .left.side-menu #sidebar-menu ul > li > ul {
  display: none;
}

#wrapper .left.side-menu #sidebar-menu ul ul li.active a {
  color: #2a323c;
}

#wrapper .left.side-menu #sidebar-menu ul > li > a span {
  display: none;
  padding-left: 10px;
}

#wrapper .left.side-menu .user-details {
  display: none;
}
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
}
